[submodule ".registry"]
	path = .registry
	url = https://github.com/ocbe-uio/ocbe-uio.r-universe.dev
	branch = HEAD
[submodule "BayesMallows"]
	path = BayesMallows
	url = https://github.com/ocbe-uio/BayesMallows
[submodule "BayesSUR"]
	path = BayesSUR
	url = https://github.com/mbant/BayesSUR
	subdir = BayesSUR
[submodule "BayesSurvive"]
	path = BayesSurvive
	url = https://github.com/ocbe-uio/BayesSurvive
[submodule "DIscBIO"]
	path = DIscBIO
	url = https://github.com/ocbe-uio/DIscBIO
[submodule "EnrichIntersect"]
	path = EnrichIntersect
	url = https://github.com/ocbe-uio/EnrichIntersect
[submodule "GPTCM"]
	path = GPTCM
	url = https://github.com/ocbe-uio/GPTCM
[submodule "MADMMplasso"]
	path = MADMMplasso
	url = https://github.com/ocbe-uio/MADMMplasso
[submodule "TruncExpFam"]
	path = TruncExpFam
	url = https://github.com/ocbe-uio/TruncExpFam
[submodule "contingencytables"]
	path = contingencytables
	url = https://github.com/ocbe-uio/contingencytables
[submodule "matlab2r"]
	path = matlab2r
	url = https://github.com/ocbe-uio/matlab2r
[submodule "permChacko"]
	path = permChacko
	url = https://github.com/ocbe-uio/permChacko
[submodule "psbcSpeedUp"]
	path = psbcSpeedUp
	url = https://github.com/ocbe-uio/psbcSpeedUp
