[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "matlab2r"]
	path = matlab2r
	url = https://github.com/ocbe-uio/matlab2r
	shallow = true
	registered = true
[submodule "DIscBIO"]
	path = DIscBIO
	url = https://github.com/ocbe-uio/discbio
	shallow = true
	registered = true
[submodule "TruncExpFam"]
	path = TruncExpFam
	url = https://github.com/ocbe-uio/truncexpfam
	shallow = true
	registered = true
[submodule "cellmigRation"]
	path = cellmigRation
	url = https://github.com/ocbe-uio/cellmigration
	shallow = true
	registered = true
[submodule "contingencytables"]
	path = contingencytables
	url = https://github.com/ocbe-uio/contingencytables
	shallow = true
	registered = true
[submodule "BayesMallows"]
	path = BayesMallows
	url = https://github.com/ocbe-uio/bayesmallows
	shallow = true
	registered = true
[submodule "EnrichIntersect"]
	path = EnrichIntersect
	url = https://github.com/ocbe-uio/enrichintersect
	shallow = true
	registered = true
